@use "../mixins/desktop" as *;
@use "../mixins/to-desktop" as *;

.article{
    display: flex;
    box-shadow: 0px 0px 15px -8px var(--Grayish-Blue);
    border-radius: 12px;
    justify-content: center;
    margin-bottom:40px;
    background-color: var(--white);

    @include desktop {
        max-width: 1230px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 120px;
        padding-right: 35px;
    }
    
    @include to-desktop {
        flex-direction: column;

    }

    &__info{
        text-align: center;
        
        @include to-desktop {
            order: 1;
            margin-bottom: 30px;
        }

        @include desktop {
            align-self: center;
        }
        
    }

    &__title{
        font-size: 1.3rem;
        text-align: center;
        
        @include desktop {
            text-align: left;
            font-size: 1.75rem;
            margin-bottom: 15px;
        }

        &-aside{
            margin-top: 30px;
            margin-bottom: 30px;
            font-weight: 700;
        }
    }

    &__title-aside{
        font-size: 1.1rem;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
            font-size: 2rem;
        }
    }

    &__text{
        font-size: .9rem;
        font-weight: 400;
        
        @include to-desktop{
            padding: 15px 40px;
        }

        @include desktop {
            text-align: left;
            font-size: 1.1rem;
            padding-right: 150px;
        }
    }

    & img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom:50px;
        margin-top:50px;
        width: 240px;

        @include desktop {
            width: 420px;
        }
    }
}

.article:nth-of-type(4){
    position: relative;
    top: 100px;
    margin-left: -7px;
    margin-right: -7px;
    
    @include desktop {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 0;
        top: 130px;
        padding-top: 40px;
        padding-bottom: 15px;
    }
}

@include desktop {

    .article:nth-of-type(2) .article__info{
        order: 1;
        margin-left: 170px;
    }
    
    .article:nth-of-type(2) .article__info .article__text{
        padding-right: 0;
    }
}
