footer.footer
    img(src="assets/images/logo-white.svg", alt="logo")
    .footer__data
        img(src="assets/images/icon-location.svg", alt="location")
        p.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    .footer__data
        img(src="assets/images/icon-phone.svg", alt="phone")
        p.footer__text +1-543-123-4567
    .footer__data
        img(src="assets/images/icon-email.svg", alt="logo")
        p.footer__text example@huddle.com
    ul.footer__list 
        li.footer__list__item: a(href="#").footer__list__link About Us
        li.footer__list__item: a(href="#").footer__list__link What We Do
        li.footer__list__item: a(href="#").footer__list__link FAQ 
        li.footer__list__item: a(href="#").footer__list__link Career 
        li.footer__list__item: a(href="#").footer__list__link Blog 
        li.footer__list__item: a(href="#").footer__list__link Contact Us 
    ul.footer__social__list 
        li.footer__social__list__item: a(href="#").footer__social__list__link.fab.fa-facebook-f
        li.footer__social__list__item: a(href="#").footer__social__list__link.fab.fa-twitter
        li.footer__social__list__item: a(href="#").footer__social__list__link.fab.fa-instagram
    small#copy.copy &copy; Copyright 2018 Huddle. All rights reserved.