header.header 
    .header__top-bar
        img(src="assets/images/logo.svg", alt="logo")
        a(href="#").buttom.buttom-white Try It Free 
    .header__banner 
        .header__info 
            h1.header__title Build The Community Your Fans Will Love
            p.header__text Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion. 
            a(href="#").buttom.buttom__pink Get Started For Free 
        img.header__img(src="assets/images/illustration-mockups.svg", alt="illustration-mockups")
    
